@import "cssReset";

html,
body {
    font-family: 'Cinzel Decorative', serif;
    text-shadow: 0 0 5px #fff2b3;
}

.intro {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1061; // sweetalert2 對話框的層級是 1060，與 bootstrap 的設定相同
    display: flex;
}

.door {
    width: 50%;
    height: 100%;
    transition: all 1.5s ease-in-out;
    filter: drop-shadow(0 0 10px rgba(212,175,55,0.7));
}

.left-door {
    background: linear-gradient(to right, #4b2e1e, #3a2418);
    border-right: 10px solid rgba(#d4af37, 0.3);
    box-shadow: inset 5px 0 10px rgba(0,0,0,0.8);
}

.right-door {
    background: linear-gradient(to left, #4b2e1e, #3a2418);
    border-left: 10px solid rgba(#d4af37, 0.3);
    box-shadow: inset -5px 0 10px rgba(0,0,0,0.8);
}

.left-door, .right-door {
  transition: transform 3s ease-in-out;
}

.wrap {
    width: 100vw;
    height: 100vh;
    background: url("../image/megicHall.png") no-repeat center center / cover;

    position: relative;
    overflow: hidden;
    filter: brightness(1.1) saturate(1.2);
}

.particles {
    position: absolute;
    inset: 0;
    pointer-events: none;
    background-image: radial-gradient(white 1px, transparent 2px), radial-gradient(white 1px, transparent 2px);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
    animation: sparkle 10s linear infinite;
    opacity: 0.2;
    z-index: 1;
}

@keyframes sparkle {
    0% {
        background-position: 0 0, 30px 30px;
        opacity: 0.3;
    }

    50% {
        opacity: 0.1;
    }

    100% {
        background-position: 60px 60px, 90px 90px;
        opacity: 0.3;
    }
}

.sortingHat {
    position: absolute;
    top: 60%;
    left: 50%;
    width: 180px;
    transform: translate(-50%, -50%);
    z-index: 2;
    animation: float 3s ease-in-out infinite;
}

@keyframes float {

    0%,
    100% {
        transform: translate(-50%, -50%);
    }

    50% {
        transform: translate(-50%, -60%);
    }
}

.swal2-timer-progress-bar {
    background: linear-gradient(to right, white, wheat);
}

.swal2-loader {
    border-color: white transparent wheat transparent;
}

.restart {
    color: gold;
    font-size: 20px;
    position: absolute;
    bottom: 3%;
    right: 3%;
    opacity: 0;
    pointer-events: none;

    &.visible {
        animation: fadeIn 0.5s ease-in forwards, shiny 1s ease-in-out 0.5s infinite;
        pointer-events: auto;

        &:hover {
            color: orange;
        }
    }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 0.5; }
}

@keyframes shiny {
    0% {
        transform: scale(1);
        opacity: 0.5;
    }
    50% {
        transform: scale(1.1);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0.5;
    }
}