.checkout-delivery_main {
    form {
        .input_container {
            max-width: 100%;
            overflow-x: hidden;
            display: flex;
            flex-direction: column;
            gap: 16px;
            margin: 0 40px;

            label {
                color: $primary-color;
                font-size: 20px;
                line-height: 20px;
                font-weight: 600;
            }

            input,
            select {
                background: $primary-color;
                height: 56px;
                color: $quaternary-color;
            }

            input {
                text-indent: 16px;
            }

            input::placeholder {
                color: $quaternary-color;
            }

            select {
                text-align: center;
            }

            .zipcode {
                text-indent: 0;
                text-align: center;
            }

            .zipcode::placeholder {
                text-align: center;
            }

            .name {
                width: 100%;
                display: flex;
                gap: 8px;
            }

            .lastName,
            .firstName,
            .phone {
                display: flex;
                flex-direction: column;
                gap: 8px;
            }

            .lastName,
            .firstName {
                width: 50%;
            }

            .phone {
                width: 100%;
            }

            .address {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                gap: 8px;

                label {
                    width: 100%;
                }

                .address_select {
                    width: 100%;
                    display: flex;
                    gap: 8px;
                }

                .zipcode,
                .county,
                .district {
                    width: 33.333%;
                }

                .address_detail {
                    width: 100%;
                }
            }
        }
    }
}