$primary_color: #FFFFFF;
$secondary_color: #3D1101;

@font-face {
    font-family: 'NotoSansCJKtc';
    src: url('/fonts/NotoSansCJKtc-Medium.otf') format('opentype');
    font-weight: 500;
}

@font-face {
    font-family: 'NotoSansCJKtc';
    src: url('/fonts/NotoSansCJKtc-Black.otf') format('opentype');
    font-weight: 900;
}

:root {
    --animation-primary: blink1 1.5s infinite;
    --animation-secondary: blink2 1.5s infinite;
}

@import "cssReset";
@import "common";
@import "index";
@import "product";

@keyframes blink1 {

    0%,
    100% {
        color: white;
    }

    50% {
        color: red;
    }
}

@keyframes blink2 {

    0%,
    100% {
        color: black;
    }

    50% {
        color: red;
    }
}

html,
body {
    scroll-behavior: smooth;
}